html,
body {
  font-family: 'Odibee Sans', cursive;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.gameBody {
  height: 100%;
  width: 100%;
  background-image: url('../images/screen.jpg');
  background-repeat: no-repeat;
  background-size: 275px 490px;
  background-attachment: fixed;
  background-position: relative;
}

.gameScreen {
  background-color: #889774;
  width: 175px;
  height: 212px;
  position: relative;
  top: 37px;
  left: 51px;
}

#brickGame {
  border: 1px solid rgba(0, 0, 0, 0.678);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: 100px;
  height: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.gameStatus {
  text-align: center;
  width: 60px;
  height: 202px;
  position: relative;
  top: 5px;
  left: 110px;
}

.lifeStatus {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.678);
  width: 60px;
  height: 40px;
  position: relative;
  top: 0px;
  left: 0px;
}

.life {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.678);
  border: 1px solid #8897748f;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
